---
- name: Install required packages
  package:
    name: '{{ packages_base | union(packages_additional) | unique }}'
    state: present
  register: installed_packages
  until: installed_packages is succeeded
  become: True
