---
- name: Become section
  block:
    - name: Add GitLab Runner GPG key
      rpm_key:
        state: present
        key: '{{ gitlab_runner_gpg }}'
      register: rpm_key_result
      until: rpm_key_result is succeeded

    - name: Add GitLab Runner repository
      yum_repository:
        name: runner_{{ gitlab_runner_package }}
        baseurl: '{{ gitlab_runner_repo }}'
        gpgcheck: false
        repo_gpgcheck: false
        gpgkey: '{{ gitlab_runner_gpg }}'
        sslverify: true
        sslcacert: /etc/pki/tls/certs/ca-bundle.crt
        metadata_expire: 300
        description: GitLab Runner Stable

    - name: yum-clean-all
      command: yum clean all
      args:
        warn: false
      become: true
      when:
        - ansible_os_family == "RedHat"
        - ansible_distribution_major_version == '8'
      tags:
        - skip_ansible_lint

    - name: Install GitLab agent {{ gitlab_runner_install_package }}
      yum:
        name: '{{ gitlab_runner_install_package }}'
        state: present
        update_cache: true
      register: installed_gitlab
      until: installed_gitlab is succeeded
      notify: kick gitlab-runner
  become: true

- name: Adding selinux support
  include_tasks: selinux-support.yml
